<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Change Profile</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- jQuery 를 포함합니다. -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="static/Script.js"></script>
  </head>

  <style>
    .selected {
      background-color: #4caf50;
      /* 선택되었을 때의 배경색 */
      color: white;
      /* 선택되었을 때의 글자색 */
    }

    .margin-r {
      margin-right: 2rem;
    }
  </style>

  <body>
    {% include 'header.html'%}
    <div class="container mx-auto mt-8 px-4">
      <div
        class="max-w-md mx-auto bg-white rounded-lg shadow-md overflow-hidden"
      >
        <div class="p-4">
          <label for="email" class="block text-gray-700 font-medium mb-2"
            >ID</label
          >
          <input
            type="email"
            id="email"
            name="email"
            value="{{id}}"
            readonly
            class="w-full px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:border-blue-500 bg-gray-100"
          />

          <label
            for="password"
            class="block text-gray-700 font-medium mt-4 mb-2"
            >Password</label
          >
          <input
            type="password"
            id="password"
            name="password"
            value="*********"
            readonly
            class="w-full px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:border-blue-500 bg-gray-100"
          />

          <label
            for="nickname"
            class="block text-gray-700 font-medium mt-4 mb-2"
            >Nickname</label
          >
          <div class="flex">
            <input
              type="text"
              id="nickname"
              name="nickname"
              value="Nickname123"
              required
              class="flex-grow px-3 py-2 border border-gray-300 rounded-l-lg focus:outline-none focus:border-blue-500"
            />
            <button
              onclick="NickCheck()"
              type="button"
              class="bg-blue-500 text-white px-4 py-2 rounded-r-lg hover:bg-blue-600 focus:outline-none"
            >
              Check
            </button>
          </div>
          <div class="mb-4">
            <p class="block text-gray-700 font-medium mb-2">관심사</p>
            <div id="subject" class="flex flex-wrap gap-2">
              <input
                type="text"
                id="keyword1"
                value="Keyword1"
                readonly
                class="w-full bg-gray-200 p-2 text-gray-700 focus:outline-none rounded-md h-10 drag-n cursor-pointer toggle selected"
              />
              <input
                type="text"
                id="keyword2"
                value="Keyword2"
                readonly
                class="w-full bg-gray-200 p-2 text-gray-700 focus:outline-none rounded-md h-10 drag-n cursor-pointer toggle selected"
              />
              <input
                type="text"
                name="keyword3"
                value="Keyword3"
                readonly
                class="w-full bg-gray-200 p-2 text-gray-700 focus:outline-none rounded-md h-10 drag-n cursor-pointer toggle selected"
              />
              <input
                type="text"
                name="keyword5"
                value="+"
                id="addButton"
                readonly
                class="w-full bg-gray-200 p-2 text-gray-700 focus:outline-none rounded-md h-10 drag-n cursor-pointer"
              />
            </div>
          </div>
        </div>

        <div class="p-4 bg-gray-100 border-t border-gray-200">
          <button
            onclick="main()"
            type="button"
            class="w-full bg-blue-500 text-white py-2 rounded-lg hover:bg-blue-600 focus:outline-none"
          >
            수정
          </button>
        </div>
      </div>
      <div class="max-w-md mx-auto overflow-hidden mt-6">
        <div class="flex justify-between">
          <a href="check_pw" class="text-blue-500 hover:underline"
            >비밀번호 변경</a
          >
          <a
            href="http://192.168.1.131:5000/"
            class="text-blue-500 hover:underline"
            >회원 탈퇴</a
          >
        </div>
      </div>
    </div>
  </body>
</html>
