<div class="div">
  <img class="group-14" src="group-140.svg" />
  <div class="rectangle-1"></div>
  <div class="div2">러닝메이트</div>
  <img class="generic-avatar" src="generic-avatar0.svg" />
  <div class="logout">logout</div>
  <div class="div3">내가 만든 스터디에요</div>
  <div class="rectangle-18"></div>
  <div class="div4">알고리즘 스터디</div>
  <div class="div5">알고리즘 스터디 모집합니다.</div>
  <div class="button">
    <div class="state-layer">
      <div class="label-text">수정</div>
    </div>
  </div>
  <div class="button2">
    <div class="state-layer">
      <div class="label-text">삭제</div>
    </div>
  </div>
  <div class="rectangle-182"></div>
  <div class="div6">알고리즘 스터디</div>
  <div class="div7">알고리즘 스터디 모집합니다.</div>
  <div class="button3">
    <div class="state-layer">
      <div class="label-text">수정</div>
    </div>
  </div>
  <div class="button4">
    <div class="state-layer">
      <div class="label-text">삭제</div>
    </div>
  </div>
  <div class="rectangle-183"></div>
  <div class="div8">알고리즘 스터디</div>
  <div class="div9">알고리즘 스터디 모집합니다.</div>
  <div class="button5">
    <div class="state-layer">
      <div class="label-text">수정</div>
    </div>
  </div>
  <div class="button6">
    <div class="state-layer">
      <div class="label-text">삭제</div>
    </div>
  </div>
  <div class="rectangle-184"></div>
  <div class="div10">알고리즘 스터디</div>
  <div class="div11">알고리즘 스터디 모집합니다.</div>
  <div class="button7">
    <div class="state-layer">
      <div class="label-text">수정</div>
    </div>
  </div>
  <div class="button8">
    <div class="state-layer">
      <div class="label-text">삭제</div>
    </div>
  </div>
  <div class="rectangle-185"></div>
  <div class="div12">알고리즘 스터디</div>
  <div class="div13">알고리즘 스터디 모집합니다.</div>
  <div class="button9">
    <div class="state-layer">
      <div class="label-text">수정</div>
    </div>
  </div>
  <div class="button10">
    <div class="state-layer">
      <div class="label-text">삭제</div>
    </div>
  </div>
</div>
