<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./varsj.css">
  <link rel="stylesheet" href="./stylej.css">
  
  
  <style>
   a,
   button,
   input,
   select,
   h1,
   h2,
   h3,
   h4,
   h5,
   * {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       border: none;
       text-decoration: none;
       background: none;
   
       -webkit-font-smoothing: antialiased;
   }
   
   menu, ol, ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
   }
   </style>

  <script src="Script.js"></script>


  <title>Document</title>
</head>
<body>
  <div class="div">
    <div class="area"></div>
    <div class="text-field">
      <div class="text-field2"></div>
      <div class="text">ID</div>
    </div>
    <div class="text-field3">
      <div class="text-field2"></div>
      <div class="text">PW</div>
    </div>
    <div class="text-field4">
      <div class="text-field2"></div>
      <div class="text">PW 확인</div>
    </div>
    <div class="text-field5">
      <div class="text-field2"></div>
      <div class="text">닉네임</div>
    </div>
    <div class="tag">
      <div class="div2">관심사</div>
      <div class="tag-toggle-group">
          <div class="tag-toggle" onclick="toggleCategory(this)">
              <img class="check" src="check0.svg" />
              <div class="title">영어</div>
          </div>
          <div class="tag-toggle" onclick="toggleCategory(this)">
              <img class="check" src="check0.svg" />
              <div class="title">코딩</div>
          </div>
          <div class="tag-toggle" onclick="toggleCategory(this)">
              <img class="check" src="check0.svg" />
              <div class="title">마케팅</div>
          </div>
          <div class="tag-toggle" onclick="toggleCategory(this)">
              <img class="check" src="check0.svg" />
              <div class="title">NCS</div>
          </div>
          <div id="sideElements"></div>
          <div class="Pbutton" onclick="button(this)">
              <img class="check" src="check0.svg" />
              <div class="title">+</div>
          </div>
          <input type="text" id="inputBox" placeholder="Enter value">
          
      </div>
  </div>
    <div class="button">
      <div class="area2" onclick="JoinConf()"></div>
      <div class="text2">가입하기</div>
    </div>
    <div class="button2">
      <div class="area2" onclick="IdCheck()"></div>
      <div class="text3">확인</div>
    </div>
    <div class="button3">
      <div class="area2" onclick="NickCheck()"></div>
      <div class="text3">확인</div>
    </div>
    <div class="div3">회원가입</div>
    </div>
  
</body>
</html>