<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>매칭설문창</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-white">
    {% include 'header.html'%}
    <div class="flex-col container h-full mx-auto p-16">
      <div id="progress-text" class="text-center mb-4">1/4</div>
      <div class="w-full bg-gray-200 rounded-full h-5 mb-4">
        <div
          id="progress-bar"
          class="bg-blue-600 h-5 rounded-full"
          style="width: 25%"
        ></div>
      </div>
    </div>
    <div class="bg-blue-500 p-8 pb-96">
      <div class="flex-col container justify-center items-center mx-auto">
        <div id="form-1" class="bg-white p-6 rounded-lg shadow-lg mb-6">
          <h2 class="text-xl font-bold mb-4">Basic dialog title</h2>
          <p class="mb-4">
            A dialog is a type of modal window that appears in front of app
            content to provide critical information, or prompt for a decision to
            be made.
          </p>
          <button class="bg-blue-600 text-white py-2 px-4 rounded mb-2">
            Action 1
          </button>
          <button class="bg-blue-600 text-white py-2 px-4 rounded">
            Action 2
          </button>
        </div>

        <div id="form-2" class="bg-white p-6 rounded-lg shadow-lg mb-6 hidden">
          <h2 class="text-xl font-bold mb-4">질문2</h2>
          <p class="mb-4">
            A dialog is a type of modal window that appears in front of app
            content to provide critical information, or prompt for a decision to
            be made.
          </p>
          <button class="bg-blue-600 text-white py-2 px-4 rounded mb-2">
            Action 1
          </button>
          <button class="bg-blue-600 text-white py-2 px-4 rounded">
            Action 2
          </button>
        </div>
        <div id="form-3" class="bg-white p-6 rounded-lg shadow-lg mb-6 hidden">
          <h2 class="text-xl font-bold mb-4">질문3</h2>
          <p class="mb-4">
            A dialog is a type of modal window that appears in front of app
            content to provide critical information, or prompt for a decision to
            be made.
          </p>
          <button class="bg-blue-600 text-white py-2 px-4 rounded mb-2">
            Action 1
          </button>
          <button class="bg-blue-600 text-white py-2 px-4 rounded">
            Action 2
          </button>
        </div>
        <div id="form-4" class="bg-white p-6 rounded-lg shadow-lg mb-6 hidden">
          <h2 class="text-xl font-bold mb-4">질문4</h2>
          <p class="mb-4">
            A dialog is a type of modal window that appears in front of app
            content to provide critical information, or prompt for a decision to
            be made.
          </p>
          <button class="bg-blue-600 text-white py-2 px-4 rounded mb-2">
            Action 1
          </button>
          <button class="bg-blue-600 text-white py-2 px-4 rounded">
            Action 2
          </button>
        </div>
      </div>
    </div>
    <div class="flex container justify-between mx-auto pt-8">
      <button
        id="prev-btn"
        class="bg-blue-600 text-white py-2 px-4 rounded"
        onclick="prevStep()"
        disabled
      >
        Previous
      </button>
      <button
        id="next-btn"
        class="bg-blue-600 text-white py-2 px-4 rounded"
        onclick="nextStep()"
      >
        Next
      </button>
    </div>
    <script>
      let currentStep = 1;

      function updateProgress() {
        const progressBar = document.getElementById("progress-bar");
        const progressText = document.getElementById("progress-text");
        progressBar.style.width = `${currentStep * 25}%`;
        progressText.innerText = `${currentStep}/4`;
      }

      function nextStep() {
        if (currentStep < 4) {
          document
            .getElementById(`form-${currentStep}`)
            .classList.add("hidden");
          currentStep++;
          document
            .getElementById(`form-${currentStep}`)
            .classList.remove("hidden");
          document.getElementById("prev-btn").disabled = false;
          if (currentStep === 4) {
            document.getElementById("next-btn").disabled = true;
          }
          updateProgress();
        }
      }

      function prevStep() {
        if (currentStep > 1) {
          document
            .getElementById(`form-${currentStep}`)
            .classList.add("hidden");
          currentStep--;
          document
            .getElementById(`form-${currentStep}`)
            .classList.remove("hidden");
          document.getElementById("next-btn").disabled = false;
          if (currentStep === 1) {
            document.getElementById("prev-btn").disabled = true;
          }
          updateProgress();
        }
      }
    </script>
  </body>
</html>
