<div id="subject" class="flex flex-wrap gap-2">
  <input
    type="text"
    id="keyword1"
    value="Keyword1"
    readonly
    class="w-full bg-gray-200 p-2 text-gray-700 focus:outline-none rounded-md h-10 drag-n cursor-pointer toggle"
  />
  <input
    type="text"
    id="keyword2"
    value="Keyword2"
    readonly
    class="w-full bg-gray-200 p-2 text-gray-700 focus:outline-none rounded-md h-10 drag-n cursor-pointer toggle"
  />
  <input
    type="text"
    name="keyword3"
    value="Keyword3"
    readonly
    class="w-full bg-gray-200 p-2 text-gray-700 focus:outline-none rounded-md h-10 drag-n cursor-pointer toggle"
  />
  <input
    type="text"
    name="keyword4"
    value="Keyword4"
    readonly
    class="w-full bg-gray-200 p-2 text-gray-700 focus:outline-none rounded-md h-10 drag-n cursor-pointer toggle"
  />
  <input
    type="text"
    name="keyword5"
    value="+"
    id="addButton"
    readonly
    class="w-full bg-gray-200 p-2 text-gray-700 focus:outline-none rounded-md h-10 drag-n cursor-pointer"
  />
</div>
