<div class="flex flex-wrap gap-2">
  <div
    id="subject"
    class="bg-gray-200 text-gray-700 px-3 py-2 rounded-lg hover:bg-gray-300 focus:outline-none drag-n toggle"
  >
    Keyword 1
  </div>
  <div
    id="subject"
    class="bg-gray-200 text-gray-700 px-3 py-2 rounded-lg hover:bg-gray-300 focus:outline-none drag-n toggle"
  >
    Keyword 2
  </div>
  <div
    id="subject"
    class="bg-gray-200 text-gray-700 px-3 py-2 rounded-lg hover:bg-gray-300 focus:outline-none drag-n toggle"
  >
    Keyword 3
  </div>
  <div
    id="subject"
    class="bg-gray-200 text-gray-700 px-3 py-2 rounded-lg hover:bg-gray-300 focus:outline-none drag-n toggle"
  >
    Keyword 4
  </div>
  <div
    id="addButton"
    class="bg-gray-200 text-gray-700 px-3 py-2 rounded-lg hover:bg-gray-300 focus:outline-none drag-n"
  >
    +
  </div>
</div>
